/*    background-image:url(../img/footballStadium.jpg);


#down{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: white;
}

/*
.links{
    margin: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;

}
*/


